@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,900;1,400;1,600&display=swap');


p {
  font-family: 'Playfair Display', serif;
  font-size: px;
  padding-top: 20px;
}

img{
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 10px;
    
    
    
    }


h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
}


.logo {
    padding-left: 50px;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    
}


body {
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
   
}


header {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("images/m2.jpg");
    background-size: cover;
    background-position: center;
}


.navbar-item {
    color: white;
    font-size: 30px;
    margin-top: 0%;
    align-items: right;
    
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

#current{
    margin-bottom: 47px;
    padding: 50px;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(./images/Past2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    
   
}

#future {
    margin-bottom: 47px;
    padding: 50px;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(./images/Past.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    
}

main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
    opacity: 1.0;
}

main section img {
    max-height: 200px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#mini-footer {
    background-color: whitesmoke;
    padding-top: 6px;
}



.social-media{
    margin-top: 40px;
    
 }
 
 .social-media a:hover,
 .column a:hover{
 color: rgb(125, 125, 125);
 }

 #portfolio {
    display: table-row;
    vertical-align: middle;
    background-color: whitesmoke;
    padding-top: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }

h5 {
    
    text-transform: uppercase;
    font-size: 35px;
    line-height: 50px;
    font-weight: 50;
    margin-top: 20px;
    text-align: center;
  }

.image {
    width: 100%;
    height: 100%;
    padding-left: 20px;
  }
  
.column {
      margin-top: 40px;
      margin-bottom: 10px;
  }

.bioText {
    font-size: 29px;
    line-height: 50px;
}